// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', sans-serif;
@font-face {
  font-family: 'IKEA';
  font-style: normal;
  font-weight: normal;
  src: asset_url('NotoIKEALatin-Regular.woff') format('woff')
}

@font-face {
  font-family: 'IKEA-Bold';
  font-style: normal;
  font-weight: normal;
  src: asset_url('NotoIKEALatin-Bold.woff') format('woff')
}
// Define fonts for body and headers
$body-font: 'IKEA';
$headers-font: 'IKEA-Bold';

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
