<h2 class="mb-3">15 most common skills</h2>
<%= column_chart charts_most_common_skills_path, colors: ["#FFA524", "#333333"] %>

<h2 class="mb-3">15 least common skills</h2>
<%= column_chart charts_least_common_skills_path, colors: ["#A4243B", "#333333"] %>

<h2 class="mb-3">Staff occupation</h2>
<%= pie_chart charts_occupation_path, colors: ["#A4243B", "#167FFB"] %>
