<div class="container">
  <h3>Update team role details in team "<%= @team.name %>"</h3>
  <br>
  <%= render 'team_role_form' %>
  <hr>
  <%= link_to "Delete the team role", team_team_role_path(@team, @team_role), method: :delete, data: { confirm: "Are you sure you want to delete #{@team_role.name} role from #{@team.name} team? All linked skills will be also deleted." }, class: "btn btn-danger" %>
  <hr>
  <%= link_to "Back to the team", team_path(@team), class: "btn btn-secondary" %>
</div>
