<div class="container">
  <h1>Edit "<%= @team_role.name %>" team role</h1>
  <%= render 'team_role_form' %>
  <hr>
  <%= link_to "Back to the team", team_path(@team), class: "btn btn-secondary" %>
</div>