<div class="container">
  <h3>Add a team role to <%= @team.name %></h3>
  <%= render 'team_role_form' %>
  <hr>
  <%= link_to "Back to the team", team_path(@team), class: "btn btn-secondary" %>
</div>
