.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('banner05.jpg');
}

.skills-banner {
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('banner01.jpg');
  color: white
}

.people-banner {
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('banner02.jpg');
  color: white
}

.teams-banner {
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('banner03.jpg');
  color: white
}

.stats-banner {
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('banner06.jpg');
  color: white
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
