.button-upgrade {
  border-radius: 4px;
}

.btn-placeholder {
  border-radius: 4px;
  position:absolute;
  bottom: 8px;
  max-width: 211px;
}

.bottom-button {
  position:absolute;
  bottom:0;
  right:0;
}

