
.dashboard-tabs {
  font-size: 20px;

}

.dashboard-tabs a.nav-link.active {
background-color: $gray;
}


.button-upgrade {
  border-radius: 4px;
}

.btn-placeholder {
  border-radius: 4px;
  position:absolute;
  bottom: 8px;
  max-width: 211px;
}

.bottom-button {
  position:absolute;
  bottom:0;
  right:0;
}

#searchbutton {
  background: transparent;
}

#searchbutton:hover {
  color: $light-gray;
  border: none;
  font-size: 28px;
}

