
.dashboard-tabs {
  font-size: 20px;

}

.dashboard-tabs a.nav-link.active {
background-color: $gray;
}


.button-upgrade {
  border-radius: 4px;
}


.bottom-button {
  position:absolute;
  bottom:0;
  right:0;
}
