.skill-inventory-card {
  background-color: white;
  border-radius: 3px;
  padding: 2px 2px;
  margin: 5px 10px;
  box-shadow: 0 0 3px rgba(200,200,200, 0.5);
}

.white-background {
  background-color: rgba(255,255,255, 0.5);
  padding: 20px;
}

.team-card {
  display: flex;
  background-color: $red;
  color: white;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.card_details {
  width: 245px;
  margin: 15px;
}

.card_placeholder {
  color: white;
  width: 245px;
  margin: 15px;
  background-color: $orange;
}

.card-text {
  height: 100px;
  overflow-y: auto;
  margin-bottom: 5px;
}

.card-text p {
  margin-bottom: 2px;
}

.card-text-team {
  height: 30px;
  overflow-y: auto;
}

.cards-wrapper {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  padding-top: 20px;
}

.form-inline div {
  display: inline-block;
}

.user-details {
  width: 100%;
}

.user-head {
  min-height: 80px;
}

.team-description {
  max-width: 75%;
  min-width: 75%;
}


.profile-rating-width {
  max-width: 60%;
  min-width: 60%;
}

.user-head-placeholder {
  min-height: 50px;
  max-width: 50%;

}

.team-role-details-width {
  max-width: 40%;
  min-width: 40%;
}

.team-role-width {
  max-width: 30%;
  min-width: 30%;
}

.team-name-width {
  max-width: 25%;
  min-width: 25%;
}

.pills {
  max-width: 3%;
  min-width: 3%;
}
