.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 75px;
}

.navbar-home {
  justify-content: space-between;
  background: transparent;
  height: 75px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-home .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  border-radius: 50%;
}

.navbar-home .home-brand img {
  width: 200px;
  border-radius: 50%;
  position: absolute;
  top: 120px; left: 45vw;
}

.navbar-home .home-brandtext {
  font-size: 60px;
  position: absolute;
  top: 120px; left: 50vw;
  font-weight: normal;
  font-family: 'Courgette', cursive;
}

.navbar-lewagon .navbar-brandtext {
  font-size: 28px;
  position: absolute;
  top: 20px; left: 75px;
  font-weight: normal;
  font-family: 'Courgette', cursive;
  span {
  color: $red;
  }
}

.home-links {
width: 84% !important;
}

.home-links .nav-item:hover {
text-decoration: underline;
}

li.nav-item.dropdown {
list-style: none;
}
