_searchbar.scss

.select2-results__option {
  background-color: transparent !important;
}

/* dropdown list options */
.select2-results__option[aria-selected] {
  background-color: transparent !important;
  color: $light-gray;
}

.select2-results {
  background-color: $gray !important; /* SHOULD DIFFER? */
  color: $light-gray;
  opacity: 0.8;
}


/* dropdown options on mouseover */
.select2-results__option--highlighted {
  background-color: transparent !important;
  color: white !important;
  font-size: 25px;
}

/* style this one, if not working, the one above */
.select2-dropdown {
  background-color: transparent !important;
  color: $light-gray !important;
}

.select2-results__options {
  background-color: transparent !important;
  width: 900px;
  font-size: 24px;
}

 /* whole search box */
.select2-container--default .select2-selection--multiple {
  color: $light-gray !important;
  background-color: $gray !important;
  opacity: 0.9;
  border-radius: 3px !important;
  border-color: $light-gray !important;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 16px;
  height: auto;
  vertical-align: middle !important;
  width: 900px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid white 1px !important;
}

/* the boxes with selected queries */
.select2-selection__choice {
  color: $light-gray !important;
  background-color: transparent !important;
  border-radius: 3px !important;
  border-color: $light-gray !important;
  font-size: 24px;
}

.select2-selection select2-selection--multiple {
  color: $light-gray !important;
  vertical-align: middle !important;
}

.select2-results__message {
  display: none;
}

#search_bar {
  position: absolute;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchbutton_index{
  position: absolute;
  left: 828px;
  background: transparent;
  color: $light-gray;
  border: none;
  font-size: 28px;
  z-index: 1;
  padding-top: 14px;
}

#searchbutton_index:hover {
  color: $white;
}

#searchbutton_home{
  position: absolute;
  background: transparent;
  color: $light-gray;
  border: none;
  font-size: 28px;
  z-index: 1;
  padding-top: 14px;
}

#searchbutton_home:hover {
  color: $white;
}

.select2-search__field {
  color: $white !important;
  font-size: 20px !important;
}
