// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  // background-color: $light-gray;
  // background-color: $gray;
  background-size: cover;
  background-position: center;
  // background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('banner03.jpg');
}

a {
  text-decoration: none;
  color: $gray;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: $red;
}


body {
  background-color: $light-gray;
  background-image: linear-gradient(rgba(240,240,240,0.5),rgba(240,240,240,0.5)), asset-url('background06.jpg');
  background-size: cover;
  background-position: center;
}

.container-background {
  // background-color: rgba(255, 255, 255, 0.8);
  background-color: rgba(247, 247, 246, 0.8);
}

.select2-search__field {
  color: white !important;
}

.select2-results__option {
  background-color: transparent !important;
}

/* dropdown list options */
.select2-results__option[aria-selected] {
  background-color: transparent !important;
  color: $light-gray;
}

.select2-results {
  background-color: $gray !important; /* SHOULD DIFFER? */
  color: $light-gray;
  opacity: 0.8;
}

/* dropdown options on mouseover */
.select2-results__option--highlighted {
  background-color: transparent !important;
  color: white !important;
}

/* style this one, if not working, the one above */
.select2-dropdown {
  background-color: transparent !important;
  color: $light-gray !important;
}

.select2-results__options {
  background-color: transparent !important;
}

 /* whole search box */
.select2-container--default .select2-selection--multiple {
  background-color: transparent !important;
  border-radius: 3px !important;
  border-color: $light-gray !important;

  height: 70px;
  vertical-align: middle !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid white 1px !important;
}

/* the boxes with selected queries */
.select2-selection__choice {
  color: $light-gray;
  background-color: transparent !important;
  border-radius: 3px !important;
  border-color: $light-gray !important;
}

.select2-selection select2-selection--multiple {
  vertical-align: middle !important;
}

.select2-results__message {
  display: none;
}

